<div class="main-content">
  <div class="container-fluid">
    <p> Your statistics </p>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">favorite</i>
            </div>
            <p class="card-category">Donated blood (total)</p>
            <h3 class="card-title">
              {{user.donatedBlood}}
              <small>liters</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a>Don't get too competitive. You need blood too!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">groups</i>
            </div>
            <p class="card-category">Number of lives saved</p>
            <h3 class="card-title">
              {{user.nrOfPeopleHelped}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              You're a hero!
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_hospital</i>
            </div>
            <p class="card-category">Number of donations</p>
            <h3 class="card-title">
              {{user.nrOfDonations}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> The people you donated for are really thankful.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">loyalty</i>
              <!-- <i class="fa fa-hospital-user"></i> -->
            </div>
            <p class="card-category">Points</p>
            <h3 class="card-title">{{user.numberOfPoints}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Keep going!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Badges:</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table">
                  <!--<tr *ngIf="user.badges == undefined || user.badges.length == 0">
                    <td>You don't have any badges yet. Make a donation to receive one! </td>
                  </tr>-->
                  <tr *ngFor="let badge of user.badges;">
                    <td><img src={{badge.icon}} matTooltip={{badge.name}} [matTooltipPosition]="'above'" style="width:50%; height:auto" /></td>
                    <td style="font-weight: 400; font-size:larger">{{badge.name}}</td>
                    <td style="font-weight: 400; font-size:larger">+{{badge.nrOfPoints}}p</td>
                  </tr>
                  <tr *ngFor="let badge of unassignedBadges;">
                    <td>
                      <div id="wrapper">
                        <img src={{badge.icon}} matTooltip=Locked [matTooltipPosition]="'above'" style="width:50%; height:auto" />
                      </div>
                    </td>
                    <td style="font-weight: 400; font-size:larger">{{badge.name}}</td>
                    <td style="font-weight: 400; font-size:larger">+{{badge.nrOfPoints}}p</td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">League</h4>
            <h3 class="card-title" style="text-align:center">
              {{user.league.name}}
            </h3>

            <img src={{user.league.icon}} style=" width:30%; height:15% ; margin-left:35%; bottom:5%" />
            <h3></h3>

          </div>
          <div class="card-body table-responsive">
          </div>
        </div>
        <div style="text-align: center; ">
          <img src="https://scontent.fotp3-3.fna.fbcdn.net/v/t1.0-9/47108135_10156650398453070_1856654421497217024_o.jpg?_nc_cat=108&ccb=2&_nc_sid=cdbe9c&_nc_ohc=dPEEs2I5pZ4AX-YX5pE&_nc_oc=AQmuhRImGMx9NJsFcjLvgDEYdxUqMijh9SasUT1F-3W6W19i9CLmcqhdyCTPEOQTdRE&_nc_ht=scontent.fotp3-3.fna&oh=3172fe9d8b826b9ce0721b46754dc118&oe=5FFBC4F4" alt="Girl donating" width="500" height="677" />
        </div>
        </div>
        
    </div>
  </div>
</div>
