#wrapper {
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  -o-filter: grayscale(90%);
  -ms-filter: grayscale(90%);
  filter: grayscale(90%);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
