<div bsModal class=" row modal fade" #popUp="bs-modal" tabindex="1" role="dialog" aria-labelledby="popUp"
     aria-hidden="true">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" style="background-color: white; border-radius: 10px; color: red; height: 50vh">
    <br /><br />
    <h3 style="text-align: center">Codul donării a fost înregistrat cu succes.</h3>
    <p style="text-align: center">Ești un erou!</p>
    <span class="material-icons" style="color: red; padding-left: 50%; width: 20vh"> done_outline </span>

  </div>
</div>
