<div bsModal class=" row modal fade" #popUp="bs-modal" tabindex="1" role="dialog" aria-labelledby="popUp"
     aria-hidden="true">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" style="background-color: white; border-radius: 10px; color: red; height: 50vh">
    <br /><br />
    <h3 style="text-align: center">Codul donării a fost înregistrat cu succes.</h3>
    <p style="text-align: center">Ești un erou!</p>
    <span class="material-icons" style="color: red; padding-left: 50%; width: 20vh"> done_outline </span>
    <br />
    <div style="display: table; clear: both; padding-left: 22%" >
      <div style="float: left; padding: 5px; width: 50%">
        <fb-like url="https://i.ibb.co/gVpNYM0/facebook-share.png" text="Eu am donat. Tu ce mai aștepți?"></fb-like>
      </div>
      <div style="float: left; padding-left: 30px; padding-top: 1px; width: 50%">
        <linkedin-share url="https://i.ibb.co/gVpNYM0/facebook-share.png"></linkedin-share>
      </div>
    </div>
  </div>
</div>
