<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a [routerLink]="['/about']">
            Despre noi
          </a>
        </li>
        <li>
          <a [routerLink]="['/contact']">
            Contactează-ne
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}},
      <a href="" target="_blank">echipa Give Blood</a> pentru o lume mai bună.
    </div>
  </div>
</footer>
