<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Donations you made</h4>
            <p class="card-category">...and lives that you saved</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <td>
                    QR Code
                  </td>
                  <td>
                    Donation type
                  </td>
                  <td>
                    Quantity of blood donated (ml)
                  </td>
                  <td>
                    Date
                  </td>

                </thead>
                  <tr *ngFor="let donation of donations;">

                    <td>
                      <qrcode [qrdata]="donation.qrCode" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
                      <!--{{donation.qrCode}}-->
                    </td>
                    <td style="padding-top: 8vh">
                      {{donation.type}}
                    </td>
                    <td style="padding-top: 8vh; padding-left: 6vw">
                      450 ml
                    </td>
                    <td style="padding-top: 8vh">
                      {{donation.date}}
                    </td>

                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
