<body style="background-color:white">
  <app-nav-menu></app-nav-menu>

  <carousel autoplay="true" autoplayInterval="3000" cellsToShow="1" loop=true>
    <div class="carousel-cell">
      <img src="https://i.ibb.co/NtF0LNf/Donare-sange.jpg" alt="Third slide">
    </div>
    <div class="carousel-cell">
      <img src="https://i.ibb.co/brbg9YS/doneaza-sange-salveaza.jpg" alt="First slide">
    </div>
    <div class="carousel-cell">
      <img src="https://i.ibb.co/FmStD8B/1567158872251956962.jpg" alt="Second slide">
    </div>
  </carousel>


  <div id="story">
    <h5>
      Încercăm să rezolvăm o problemă extrem de importantă, și anume lipsa de sânge pentru transfuziile pacienților în nevoie. Ca exemplu pentru gravitatea situației putem lua chiar România, unde 1 din 10 pacienți are nevoie urgentă de sânge. Cu toate acestea, doar 2% din populația României donează, ignorănd faptul că, în orice clipă, fiecare dintre noi am putea deveni pacienţi care să aibă nevoie de sânge.
    </h5>
    <h5>
      Motivele pentru care oamenii nu donează sunt greu de digerat – sunt “prea ocupați” pentru a-i salva pe alții, sau nu s-au gândit niciodată la a face un astfel de bine.
    </h5>

    <br />
    <h4>450 de ml de sânge pot salva 3 vieți.</h4>
    <h4>În medie, este nevoie de 500 de unități anual, în Romania.</h4>
  </div>
</body>
