<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Topul utilizatorilor</h4>
            <p class="card-category">Vezi activitatea celorlalți</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th> Numele de utilizator </th>
                <th> Ligă </th>
                <th> Puncte </th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users;">
                    <td>
                      {{user.lastName}} {{user.firstName}}
                    </td>
                    <td>
                      <img src={{user.league.icon}} matTooltip='Liga de {{user.league.name}}' [matTooltipPosition]="'above'" />
                    </td>
                    <td>
                      {{user.numberOfPoints}}
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <h3 *ngIf=" users.length == 1" style="text-align:center">Nu ai niciun competitor în liga din care faci parte.</h3>



</div>
