<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Users Top</h4>
            <p class="card-category">See other's activity</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Username
                </th>
                <th>
                  League
                </th>
                <th>
                  Points
                </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      username1
                    </td>
                    <td>
                      Gold
                    </td>
                    <td>
                      80
                    </td>
                  </tr>
                  <tr>
                    <td>
                      username2
                    </td>
                    <td>
                      Sapphire
                    </td>
                    <td>
                      125
                    </td>

                  </tr>
                  <tr>
                    <td>
                      username3
                    </td>
                    <td>
                      Diamond
                    </td>
                    <td>
                      5000
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
