<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Users Top</h4>
            <p class="card-category">See other's activity</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Username
                </th>
                <th>
                  League
                </th>
                <th>
                  Points
                </th>
                </thead>
                <tbody>
                  <tr  *ngFor="let user of users;">
                    <td>
                      {{user.lastName}} {{user.firstName}}
                    </td>
                    <td>
                      <img src={{user.league.icon}}/>
                    </td>
                    <td>
                      {{user.numberOfPoints}}
                    </td>
                  </tr>
                  
                

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <h1 *ngIf=" users.length == 1" >You have no competitors in your league</h1>

    
 
  </div>
