<app-nav-menu></app-nav-menu>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.ibb.co/59XGqvp/photo1.jpg" alt="First slide" />
      <div class="carousel-caption d-none d-md-block">
        <h5>About 1 in 7 people entering a hospital needs blood.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.ibb.co/xX53F3z/blood-donation.jpg" alt="Second slide" />
      <div class="carousel-caption d-none d-md-block">
        <h5>One pint of blood can save up to three lives.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.ibb.co/bbCb5J9/blood-donation-poster.jpg" alt="Third slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.ibb.co/RbDQwCz/image-axd.jpg" alt="Fourth slide" />
      <div class="carousel-caption d-none d-md-block">
        <h5>There is no substitute for human blood.</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div id="story">
  <h5>
    You don’t have to have a medical degree to save a life. Just a fair degree of humanity.
  </h5>
  <h5>
    Do you think you don’t have much to offer? You have the most precious resource of all: the ability to donate blood.
  </h5>

  <br />
  <h4>Someone needs blood every two seconds.</h4>
  <h4>Choose to be a hero.</h4>
  <h4>Donate blood.</h4>
</div>

<!--<button type="button" class="btn btn-danger btn-lg" id="sign-in-button" (click)="scroll('login-div')">
  Sign in
</button>
<button type="button" class="btn btn-danger btn-lg" id="sign-up-button" (click)="scroll('register-div')">
  Sign up
</button>-->


<!-- ***************************** REGISTER FORM *************************************** -->
<!--<div class="card bg-light" id="register-div">
  <article class="card-body mx-auto" style="max-width: 50vw">
    <h4 class="card-title mt-3 text-center" style="color: red">
      Create Account
    </h4>
    <p class="text-center" style="color: red">
      Get started with your free blood donour account
    </p>

    <form [formGroup]="registerUserForm">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user" style="color: red"></i>
          </span>
        </div>
        <input name="" class="form-control" placeholder="First name" type="text" id="first-name"
               formControlName="firstName" />
      </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user" style="color: red"></i>
          </span>
        </div>
        <input name="" class="form-control" placeholder="Last name" type="text" id="last-name"
               formControlName="lastName" />
      </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope" style="color: red"></i>
          </span>
        </div>
        <input name="" class="form-control" placeholder="Email address" type="email" id="register-email"
               formControlName="email" />
      </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-phone" style="color: red"></i>
          </span>
        </div>

        <input name="" class="form-control" placeholder="Phone number" type="text" formControlName="phoneNumber" />
      </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock" style="color: red"></i>
          </span>
        </div>
        <input class="form-control" placeholder="Create password" type="password" id="register-password"
               formControlName="password" />
      </div>



      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-block" [routerLink]='["/authentication/register"]'
                [disabled]="!this.registerUserForm.valid || this.registerUserForm.pristine">
          Create Account
        </button>

        <p *ngIf="success" style="color: green; font-size: 22px;">Registered successfully</p>
        <p *ngIf="success === false" style="color: red; font-size: 22px;">Something went wrong</p>

      </div>

      <p class="text-center" style="color: red">
        Have an account?
        <a (click)="scroll('login-div')"><span id="log-in-a">Log In</span></a>
      </p>-->
      <!-- <p class="text-center" style="color: red">
        Do you want to register as a hospital?
        <a (click)="becomePartner()" style="color: red; font-weight: bolder"><span id="become-partner">Become a
            partner</span></a>
      </p> -->
    <!--</form>
  </article>
</div>-->

<!-- ****************************** LOGIN FORM **************************************8-->
<!--<div class="card bg-light" id="login-div">
  <article class="card-body mx-auto" style="max-width: 55vw">
    <h4 class="card-title mt-3 text-center" style="color: red">Login</h4>
    <p class="text-center" style="color: red">
      We're glad to see you again. <i class="far fa-heart"></i>
    </p>
    <p>
      <a href="" class="btn btn-block btn-facebook">
        <i class="fab fa-facebook-f" style="padding-right: 1vw;"></i> Login via facebook
      </a>
    </p>
    <p class="divider-text">
      <span class="bg-dark" id="or">OR</span>
    </p>
    <form [formGroup]="loginUserForm">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope" style="color: red"></i>
          </span>
        </div>
        <input name="" class="form-control" placeholder="Email address" type="email" id="login-email"
               formControlName="email" />
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock" style="color: red"></i>
          </span>
        </div>
        <input class="form-control" placeholder="Insert password" type="password" id="login-password"
               formControlName="password" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-block" [routerLink]='["/Login"]'
                [disabled]="!this.loginUserForm.valid || this.loginUserForm.pristine">
          Login
        </button>
      </div>

      <p *ngIf="success" style="color: green; font-size: 22px;">Login successfully</p>
      <p *ngIf="success === false" style="color: red; font-size: 22px;">Something went wrong</p>

    </form>
  </article>
</div>-->
<!-- <app-become-partner-modal #becomePartnerModal></app-become-partner-modal> -->
<!--<app-donor-requirements-modal #donorRequirementsModal></app-donor-requirements-modal>-->
