<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">My Profile</h4>

          </div>
          <div class="card-body" *ngIf="updateUserForm">
            <form [formGroup]="updateUserForm">
              <div class="row">
                <div class="col-md-5">
                  <label>Status:</label>
                  <mat-form-field class="example-full-width">
                    <input matInput id="status" formControlName="status" value={{donorStatus}} [style.color]="donorStatus === 'Eligible for donation' ? 'green' : 'red'" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-7">
                  <label>Email:</label>
                  <mat-form-field class="example-full-width">

                    <input matInput type="email" value={{user.email}} formControlName="email" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>First Name:</label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" value={{user.firstName}} formControlName="firstName">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label>Last Name:</label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" value={{user.lastName}} formControlName="lastName">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Address:</label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" value={{user.address}} formControlName="address">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Weight:</label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" value={{user.weight}} formControlName="weight">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label>Blood Type:</label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" value={{user.bloodType}} formControlName="bloodType">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>BirthDate:</label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="date" value={{birthDate}} formControlName="birthDate">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <label>Age:</label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" value={{user.age}} formControlName="age" readonly>
                  </mat-form-field>
                </div>
                </div>
                <div class="clearfix"></div>
                <button class="btn btn-outline-light" id="edit-button" block="true" [disabled]="updateUserForm.invalid || updateUserForm.pristine" (click)="updateUser()">Edit profile</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="https://i.ibb.co/s6zxw9k/images.png" />

            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Blood donor</h6>
            <h4 class="card-title">{{user.lastName}} {{user.firstName}}</h4>
            <p class="card-description">
              I am somebody's hero
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
