#edit-button:hover {
  background-color: #eee;
  color: #f44336;
}

#edit-button {
  background-color: #f44336;
  color: #fff;
  position:relative;
  left:32vw;
}

::ng-deep snack-bar-container.red-snackbar {
  background-color: #f44336 !important;
  color: white;
}

.red-snackbar .mat-simple-snackbar-action {
  color: white;
}

#status{
    font-weight: 500;
}
