<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3" >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Give Blood</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">

        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <button type="button" class="btn btn-outline-light" id="about-button" [routerLink]="['/about']">Despre noi</button>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button type="button" class="btn btn-outline-light" id="contact-button" [routerLink]="['/contact']">Contactează-ne</button>
          </li>
          <!--<li class="nav-item">
            <button type="button" class="btn btn-outline-light" id="donor-check-button" (click)="showDonorRequirementsModal()">Can I be a blood donor?</button>
          </li>-->
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
